<ion-content align="center" scroll="false" >
<ion-view class="bgdash">

	<!-- <ion-nav-title align-title="center">
	</ion-nav-bar> -->
	<!-- <ion-nav-title>
    </ion-nav-title> -->
    <!-- <div id="map" data-tap-disabled="true"></div> -->
    <!-- <h3>Yo Jek</h3> -->
    <img class="title-image" src="img/lg.png" width="35%" style="margin-top: 2%" />
    <div class="row">
	  	<div class="col col-45 card trn" align="center" ng-click="yoRide()">
			<p>YO RIDE</p>
			<div class="item item-body">
				<img class="full-image" src="img/ride.png">
			</div>
		</div>
	  	<div class="col col-45 card" align="center">
			<p>YO GOODS</p>
	  		<div class="item item-body">
				<img class="full-image" src="img/good.png">
			</div>
	 	</div>
	  <!-- <div class="col">.col</div> -->
	</div>
	<div class="row">
		<div class="col col-45 card" align="center">
			<p>YO FOOD</p>
	  		<div class="item item-body">
				<img class="full-image" src="img/food.png">
			</div>
	 	</div>
	 	<!-- <div class="col col-05"></div> -->
	  	<div class="col col-45 card">
			<p>YO MART</p>
	  		<div class="item item-body">
				<img class="full-image" src="img/mart.png">
			</div>
	 	</div>
	  <!-- <div class="col">.col</div> -->
	</div>
</ion-view>
</ion-content>