<ion-view> <!-- class="bgdash" -->
	<ion-nav-title>

    <!-- <h3>Yo Jek</h3> -->
    <img class="title-image" src="img/lg.png" width="45%" style="margin-top: 2%" />
    </ion-nav-title>
<ion-content align="center" scroll="false" >

	<!-- <ion-nav-title align-title="center">
	</ion-nav-bar> -->
    <!-- <div id="map" data-tap-disabled="true"></div> -->

    <ion-slides align='center' style="height: 45%" options="options" slider="data.slider" does-continue="true">
    	<ion-slide-page ng-repeat="slides in slide">
        	<div class="box {{slides.background}}">
                <img  ng-src="{{slides.face}}" class="imglogo" style="margin-top: 20%; width: 10%">
                <h3>{{slides.title}}</h3>
                <p>{{slides.desc}}</p>
            </div>
        </ion-slide-page>
    </ion-slides>

    <div class="row">
	  	<div class="col col-45">
	  		<button class="button button-full button-energized icon-left ion-android-bicycle" ng-click="yoRide()">YO RIDE</button>
			<!-- <div class="item item-body energized-bg" style="vertical-align:middle;">
				<img class="full-image" src="img/yoride.png" style="width: 80%; height: 20%;">
			</div> -->
		</div>
	  	<div class="col col-45">
    		<button class="button button-full button-energized icon-left ion-cube" ng-click="yoGood()">YO GOODS</button>
	  		<!-- <div class="item item-body energized-bg">
				<img class="full-image" src="img/yogoods.png" style="width: 80%; height: 20%;">
			</div> -->
	 	</div>
		<!-- <div class="col">.col</div> -->
	</div>
	<div class="row">
		<div class="col col-45">
			<button class="button button-full button-energized icon-left ion-android-restaurant" ng-click="yoFood()">YO FOOD</button>

	  		<!-- <div class="item item-body energized-bg">
				<img class="full-image" src="img/yofood.png" style="width: 80%; height: 20%;">
			</div> -->
	 	</div>
	 	<!-- <div class="col col-05"></div> -->
	  	<div class="col col-45">
	  		<button class="button button-full button-energized icon-left ion-android-cart" ng-click="yoMart()">YO MART</button>
	  		<!-- <div class="item item-body energized-bg">
				<img class="full-image" src="img/yomart.png" style="width: 80%; height: 20%;">
			</div> -->
	 	</div>
	  <!-- <div class="col">.col</div> -->
	</div>
</ion-content>
</ion-view>