  <ion-content>
    <div class="controls" id="search">
      <button class="button button-icon ion-chevron-left" ng-click="goBack()"> Back</button>
      <input id="pac-input" type="text" placeholder="Dari" ng-model="input1" ng-change="onSearchChange1()">
      <input id="tuj-input" type="text" placeholder="Tujuan" ng-model="input2" ng-change="onSearchChange2()"> <!-- class="controls" -->
  	</div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <div class="bar bar-footer bar-stable" style="height: 10%">
  	<div class="row">
	  	<div class="col col-60">
	  		<span id="tarif">Tarif : {{tarif}}</span>
	  	</div>
	  	<div align="center" class="col col-40 bar-stable">
        <button class="button button-full button-energized">ORDER</button>
	  	</div>
  	</div>
  </div>